.details {
  position: relative;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px 12px;
  background-color: var(--gray-100);
  width: max-content;
  font-weight: 400;
  border: var(--border);
}

.content {
  position: absolute;
  display: flex;
  width: 100%;
  border-radius: 20px;
  flex-direction: column;
  background-color: var(--gray-100);
  border-radius: 20px;
  margin-top: 4px;
  border: var(--border);
  transition: all 0.5s;
}

.content:hover {
  transition: all 0.5s;
  background-color: var(--secondary-color);
}

.link {
  padding: 8px 13px;
  transition: background-color 0.5s;
}

.title::-webkit-details-marker {
  display: none;
}
